body {
  background: #ffffff;
}

.header {
  width: 1920px;
  height: 160px;
  background: rgba(132, 130, 130, 0.22);
}

.logo {
  padding-left: 500px;
}

.logo img {
  position: absolute;
  width: 105px;
  height: 123px;
}

.logo .text {
  padding-top: 20px;
  width: 950px;
  font-family: 'Seymour One';
  font-size: 60px;
  line-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

nav {
  width: 1920px;
  height: 40px;
  margin-top: 0px;
  background: #000000;
}

nav .menu {
  margin: 0px auto;
  padding-top: 5px;
  width: 1500px;
  height: 85px;
}

nav .menu li {
  width: 260px;
  display: inline-block;
  text-align: center;
}

nav .menu a {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

nav .menu .sel {
  position: absolute;
}

nav .menu .sel ul {
  display: none;
  position: absolute;
  padding-left: 0px;
  padding-top: 5px;
}

nav .menu .sel ul li {
  width: 260px;
  height: 40px;
  border: 1px solid black;
  background-color: #251c1c;
}

nav .menu .sel ul li a {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

nav .menu .sel:hover ul {
  display: block;
}

article {
  max-width: 1500px;
  margin: 100px auto;
  padding: 0px 15px;
}

article .posters {
  height: 425px;
  width: 1500px;
}

article .posters .small_Posters {
  width: 380px;
  display: block;
  display: block;
}

article .posters .small_Posters a {
  width: 320px;
}

article .posters .small_Posters .hr1 {
  display: block;
  width: 380px;
  height: 200px;
  border-radius: 10px;
}

article .posters .small_Posters .hr2 {
  display: block;
  width: 380px;
  height: 200px;
  margin-top: 25px;
  border-radius: 10px;
}

article .posters .hr3 {
  display: block;
  float: right;
  width: 1050px;
  height: 425px;
}

article .posters .hr3 img {
  width: 1050px;
  height: 425px;
  border-radius: 10px;
}

article .catalog {
  margin-top: 20px;
  height: 100px;
  background-color: #000000;
}

article .ProductLeft {
  width: 350px;
  float: left;
  margin-left: 263px;
}

article .ProductLeft .pictureProduct {
  border-radius: 10px;
  width: 410px;
  height: 250px;
}

article .ProductLeft a {
  margin-top: 35px;
  display: block;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

article .ProductLeft a:first-child {
  margin-top: 0px;
}

article .ProductLeft .price {
  text-align: center;
}

article .ProductLeft .price span {
  color: red;
}

article .ProductRight {
  width: 350px;
  float: right;
  margin-right: 263px;
  margin-bottom: 100px;
}

article .ProductRight .pictureProduct {
  width: 410px;
  height: 250px;
  border-radius: 10px;
}

article .ProductRight a {
  margin-top: 35px;
  display: block;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

article .ProductRight a:first-child {
  margin-top: 0px;
}

article .ProductRight .price {
  text-align: center;
}

article .ProductRight .price span {
  color: red;
}

article .akcii {
  margin-top: 50px;
}

article .akcii img {
  width: 455px;
  height: 229s;
}

article .akcii div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  float: right;
  padding-right: 325px;
  padding-top: 50px;
}

article .main_info_Installments {
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .text_Installments {
  padding-left: 40px;
  font-family: 'Risque';
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .text_Installments div {
  font-size: 24px;
}

article .info_Installments {
  font-family: 'Risque';
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

article .yellow_Line {
  background-color: yellow;
  height: 70px;
  border-radius: 10px;
  line-height: 70px;
  font-size: 24px;
  text-align: left;
}

article .yellow_Line p {
  padding-left: 40px;
}

article .main_Text {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

article .delivery_Info {
  width: 600px;
  height: 300px;
  margin-top: 30px;
  border-radius: 7px;
  font-size: 20px;
}

article .delivery_Info tr td {
  border: 1px solid gray;
}

article .delivery_Info tr th {
  border: 1px solid gray;
  background-color: #3ec755;
  color: white;
}

article .delivery_Info tr th:first-child {
  border-top-left-radius: 10px;
}

article .delivery_Info tr th:last-child {
  border-top-right-radius: 10px;
}

article .car {
  float: right;
  padding-right: 220px;
}

article .foot_table {
  font-size: 18px;
  margin-top: 30px;
  color: #2b3057;
}

article .Campany p {
  font-size: 60px;
}

article .Campany .logo {
  padding-left: 0px;
}

article .main_info_Campany {
  margin-top: 60px;
  width: 856px;
  font-family: 'Roboto';
  font-size: 22px;
}

article .info_Campany {
  font-family: 'Manrope';
  font-size: 22px;
  width: 856px;
  margin-top: 20px;
}

.product {
  max-width: 1500px;
  height: 700px;
  margin: 50px auto;
  padding: 0px 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product img {
  padding-top: 20px;
}

.product .info_Prod {
  padding-top: 0px;
  float: right;
  padding-right: 80px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .info_Prod p:first-child {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.product .info_Prod .buy {
  background-color: #029b02;
  width: 200px;
  height: 50px;
  float: left;
  border-radius: 3px;
}

.product .info_Prod .buy .make_Purchase {
  font-size: 26px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding-left: 60px;
  line-height: 50px;
  color: #FFFFFF;
}

form {
  max-width: 1363px;
  margin: 100px auto;
  padding: 0px 15px;
}

form div {
  margin-top: 24px;
  width: 600px;
  float: left;
}

form div input {
  width: 600px;
  height: 70px;
  border-radius: 15px;
}

form div input::-webkit-input-placeholder {
  font-size: 22px;
  opacity: 0.7;
}

form div input::-moz-placeholder {
  color: red;
}

form div b {
  font-family: 'Oswald';
  font-size: 28px;
  line-height: 67px;
}

form div:nth-child(even) {
  float: right;
}

form .order {
  margin-top: 100px;
  float: right;
  width: 300px;
}

form .order input {
  background-color: green;
  width: 300px;
  float: right;
  width: 300px;
  color: white;
  font-family: 'Oswald';
  font-size: 35px;
  line-height: 59px;
}

footer {
  height: 252px;
  margin-top: 135px;
}

footer img {
  height: 252px;
}
/*# sourceMappingURL=planet_furniture.css.map */