@mixin prod ($poz, $otsl, $otzr){
    width: 30%;
    float: $poz;
    margin-left: $otsl;
    margin-right: $otzr;
}
@mixin picProd {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
@mixin textProd {
    margin-top: 35px;
    display: block;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

$top: 0px;
$h: 44.8px;
$pozText: center;
$big: scale(1.01);
$c: red;

.cat {
    height: 1100px;
    .ProductLeft{
        @include prod (left, 15%, 0);
        .pictureProduct {
            @include picProd;
        }
        a {
            font-family: 'Roboto';
            @include textProd;
            &:first-child{
                margin-top: $top;
            }
            &:hover {
                transform: $big;
            }
            .name_Product {
                height: $h;
            }
        }
        .price {
            text-align: $pozText;
            span {
                color: $c;
            }
        }
    }
    
    .ProductRight{
        @include prod (right, 0, 15%);
        
        .pictureProduct {
            @include picProd;
        }
        a {
            font-family: 'Roboto';
            @include textProd;
            &:first-child{
                margin-top: $top;
            }
            &:hover {
                transform: $big;
            }
            .name_Product {
                height: $h;
            }
        }
        .price {
            text-align: $pozText;
            span {
                color: $c;
            }
        }
    }
}