.form {
    max-width: 1363px;
    margin: 50px auto;
    padding: 0px 15px;
    .name_forms{
        font-family: 'Oswald';
        font-size: 50px;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        text-decoration: underline;
    }
    form{
        div {
            margin-top: 24px;
            width: 600px;   
            input {
                width: 600px;
                height: 70px;
                border-radius: 15px;
                font-size: 25px;
                padding-left: 8px;
                &::-webkit-input-placeholder {
                    font-size: 25px;
                    opacity: 0.7;
                    font-family: 'Oswald';
                }
            }
            select {
                width: 600px;
                height: 70px;
                border-radius: 15px;
                font-size: 25px;
                font-family: 'Oswald';
                padding-left: 10px;
                option {
                    font-size: 25px;
                    padding-left: 10px;
                    opacity: 0.7;
                    font-family: 'Oswald';  
                }
            }
            b {
                font-family: 'Oswald';
                font-size: 28px;
                line-height: 67px;
            }
            float: left;
            &:nth-child(even){
                float: right;  
            }
        } 
        .order {
            margin-top: 100px;
            input {
                background-color: green;
                width: 300px;
                float: right;
                width: 300px;
                color: white;         
                font-family: 'Oswald';
                font-size: 35px;
                line-height: 59px;
            }
            float: right;
            width: 300px;
        }  
    }  
}