main {
    .main_info_Installments{
        list-style-type: none;
        font-family: 'Roboto';
        font-size: 22px;;
        align-items: center;
     }
     .text_Installments {
        padding-left: 40px;
        font-family: 'Risque';
        font-size: 20px;
        align-items: center;
        div {           
            font-size: 24px;
        }
     }
     .info_Installments {
        font-family: 'Risque';
        font-size: 20px;
        align-items: center;
        margin-left: 50px;
     }
}