main {
    margin: 50px auto;
    max-width: 1300px;
        .small_Posters{
            width: 25%;
            padding-left: 70px;
            a{
                width: 100%;
            }
            .hr1{
                display: block;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .hr2{
                display: block;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
                padding-top: 19%;   
            }
        }
        .hr3{
            display: block;
            float: right;
            width: 57%;
            padding-right: 70px;
            img {
                width: 100%;
                border-radius: 10px;    
            }
        }
    
    .catalog{
        margin-top: 50px;
        text-align: center;
        a{
            img {
                width: 7%;
                margin-left: 9%;
                &:hover {
                    transform: scale(1.03);
                }
            }
        
        }
    }
    // Catalogy----------------------------------------------------------------------------------------------------------------------------------------
    
     //akcii ----------------------------------------------------------------------------------------------------------------------------------------
     // ----------------------------------------------------------------------------------------------------------------------------------------

     //delivery-----------------------------------------------------------------------------------
     //delivery-----------------------------------------------------------------------------------
     //delivery-----------------------------------------------------------------------------------
     //delivery-----------------------------------------------------------------------------------
    //------------------------------------------------------------------------------
    //Campany
    
}