body {
  font-family: 'Manrope', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Risque', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Seymour One', sans-serif;
  background: #ffffff;
  margin: 0;
}

.logo {
  margin: 0px auto;
  max-width: 900px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Seymour One";
  font-size: 60px;
}

.logo img {
  float: left;
  padding-left: 30px;
  max-width: 128px;
}

.logo .text {
  padding-top: 35px;
  color: #000;
}

.header {
  height: 138px;
  background: rgba(132, 130, 130, 0.22);
  margin-right: 0;
  width: 100vw;
}

nav {
  height: 40px;
  margin-top: 0px;
  background: #000000;
  width: 100vw;
}

nav .menu {
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  padding-left: 0px;
  width: 100%;
  height: 40px;
}

nav .menu li {
  width: 15%;
  display: inline-block;
  text-align: center;
}

nav .menu a {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

nav .menu a:hover {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

nav .menu .sel {
  position: absolute;
}

nav .menu .sel ul {
  display: none;
  position: absolute;
  padding-left: 0px;
  padding-top: 5px;
}

nav .menu .sel ul li {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  background-color: #251c1c;
}

nav .menu .sel ul li a {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

nav .menu .sel:hover ul {
  display: block;
}

nav .other_menu {
  margin-left: 265px;
}

main {
  margin: 50px auto;
  max-width: 1300px;
}

footer {
  padding-bottom: 40px;
}

footer .footer__pay {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

footer .footer__pay .footer__pay-logo {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__pay .footer__pay-logo .pic-left {
  margin-right: 20px;
}

footer .footer__pay .footer__pay-logo .pic-right {
  margin-left: 20px;
}

footer .footer__pay .footer__pay-logo img {
  width: 100%;
  display: block;
  max-height: 40px;
}

footer .footer__text {
  font-family: Gilroy,sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 1245px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 11px;
  line-height: 17px;
  color: #606060;
}

footer .footer__add {
  text-align: center;
}

footer .footer__add .footer__add-text {
  font-family: Gilroy,sans-serif;
  font-size: 11px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

@media (max-width: 1370px) {
  .product .info_Prod {
    padding-right: 25px;
  }
}

@media (max-width: 1136px) {
  .product {
    max-width: 800px;
    height: 1300px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
  }
  .product .info_Prod .buy {
    margin-top: 70px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
  }
}

@media (max-width: 1280px) {
  main {
    max-width: 1000px;
  }
  main .akcii div {
    font-size: 28px;
    padding-right: 100px;
  }
  main .Campany {
    width: 70%;
  }
  main .Campany p {
    font-size: 45px;
  }
  main .car {
    float: right;
    padding-right: 30px;
  }
  main .foot_table {
    font-size: 18px;
  }
  main .main_info_Campany {
    margin-top: 50px;
    font-size: 20px;
  }
  main .info_Campany {
    font-size: 20px;
    margin-top: 16px;
  }
  main .logo {
    max-width: 480px;
  }
  main .logo img {
    max-width: 70px;
  }
  main .logo .text {
    font-size: 30px;
    padding-top: 20px;
  }
  main .ProductLeft .pictureProduct {
    height: 200px;
  }
  main .ProductRight .pictureProduct {
    height: 200px;
  }
  .form form div:nth-child(even) {
    float: none;
  }
}

@media (max-width: 1042px) {
  main {
    max-width: 950px;
  }
  main .akcii div {
    float: none;
  }
  main .car {
    padding-right: 0px;
  }
  main .ProductLeft .pictureProduct {
    height: 180px;
  }
  main .ProductLeft a {
    font-size: 18px;
  }
  main .ProductRight .pictureProduct {
    height: 180px;
  }
  main .ProductRight a {
    font-size: 18px;
  }
  .cat {
    height: 900px;
  }
}

@media (max-width: 920px) {
  main .akcii div {
    font-size: 20px;
    line-height: 20px;
  }
  main .car {
    width: 440px;
  }
}

@media (max-width: 890px) {
  .header {
    height: 120px;
  }
  .logo {
    max-width: 750px;
  }
  .logo img {
    max-width: 98px;
  }
  .logo .text {
    font-size: 50px;
  }
  main {
    max-width: 850px;
  }
  main .delivery_Info {
    height: 250px;
  }
  main .delivery_Info .car {
    float: right;
    padding-right: 10px;
    width: 30%;
  }
  main .delivery_Info .car img {
    width: 150%;
  }
  .cat {
    height: 700px;
  }
  .cat .ProductLeft .pictureProduct {
    height: 150px;
  }
  .cat .ProductLeft a {
    font-size: 15px;
  }
  .cat .ProductRight .pictureProduct {
    height: 150px;
  }
  .cat .ProductRight a {
    font-size: 15px;
  }
}

@media (max-width: 842px) {
  main {
    max-width: 800px;
  }
  main .small_Posters {
    padding-left: 20px;
  }
  main .hr3 {
    padding-right: 20px;
  }
  main .akcii div {
    padding-top: 10px;
  }
  .header {
    height: 80px;
  }
  .logo {
    max-width: 480px;
  }
  .logo img {
    max-width: 70px;
  }
  .logo .text {
    font-size: 30px;
    padding-top: 20px;
  }
  nav {
    height: 30px;
  }
  nav .menu {
    padding-top: 1px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 16px;
  }
  nav .other_menu {
    margin-left: 100px;
  }
}

@media (max-width: 842px) {
  header .menu {
    height: 30px;
  }
  header .menu .sel ul {
    padding-top: 0px;
  }
  main {
    max-width: 800px;
  }
  main .small_Posters {
    padding-left: 20px;
  }
  main .hr3 {
    padding-right: 20px;
  }
  main .delivery_Info {
    font-size: 16px;
  }
  main .car {
    width: 365px;
  }
}

@media (max-width: 700px) {
  main .akcii {
    text-align: center;
    padding-left: 0px;
  }
  main .akcii div {
    width: 50%;
    font-size: 16px;
    padding-left: 30%;
    text-align: start;
  }
  main .foot_table {
    width: 100%;
  }
  main .Campany p {
    font-size: 40px;
  }
  main .main_info_Campany {
    margin-top: 50px;
    font-size: 16px;
  }
  main .info_Campany {
    font-size: 17px;
    margin-top: 15px;
  }
  .cat {
    height: 700px;
  }
  .cat .ProductLeft .pictureProduct {
    height: 130px;
  }
  .cat .ProductLeft a {
    font-size: 12px;
  }
  .cat .ProductRight .pictureProduct {
    height: 130px;
  }
  .cat .ProductRight a {
    font-size: 12px;
  }
  .product {
    max-width: 600px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 1100px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
    line-height: 20px;
  }
  .product .info_Prod p:first-child {
    margin-bottom: 0px;
  }
  .product .info_Prod .buy {
    margin-top: 70px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
  }
}

@media (max-width: 675px) {
  main {
    margin-top: 30px;
  }
  main .main_Text {
    font-size: 26px;
  }
  main .delivery_Info {
    font-size: 13px;
    height: 200px;
  }
  main .car {
    width: 330px;
  }
  main .logo {
    max-width: 400px;
  }
  main .logo img {
    max-width: 55px;
  }
  main .logo .text {
    font-size: 24px;
    padding-top: 15px;
  }
  main .catalog a {
    width: 42px;
  }
  footer .footer__text {
    width: 100vw;
    max-width: 1245px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 9px;
    line-height: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__add .footer__add-text {
    font-size: 9px;
    line-height: 9px;
  }
}

@media (max-width: 600px) {
  main .yellow_Line {
    height: 60px;
    border-radius: 10px;
    line-height: 60px;
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  main .yellow_Line p {
    padding-left: 30px;
  }
  main .delivery_Info {
    font-size: 13px;
    height: 180px;
  }
  main .car {
    width: 280px;
  }
  main .foot_table {
    font-size: 15px;
  }
  main .cat {
    height: 500px;
  }
  main .cat .ProductLeft .pictureProduct {
    height: 100px;
  }
  main .cat .ProductLeft a {
    font-size: 10px;
  }
  main .cat .ProductLeft a .name_Product {
    height: 32px;
  }
  main .cat .ProductRight .pictureProduct {
    height: 100px;
  }
  main .cat .ProductRight a {
    font-size: 10px;
  }
  main .cat .ProductRight a .name_Product {
    height: 32px;
  }
  .form {
    max-width: 1363px;
    margin: 30px auto;
  }
  .form .name_forms {
    font-family: 'Oswald';
    font-size: 35px;
    text-decoration: underline;
  }
  .form form div {
    margin-top: 20px;
    width: 90vw;
    float: left;
  }
  .form form div input {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    font-size: 17px;
    padding-left: 8px;
  }
  .form form div input::-webkit-input-placeholder {
    font-size: 17px;
    opacity: 0.7;
    font-family: 'Oswald';
  }
  .form form div select {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Oswald';
    padding-left: 10px;
  }
  .form form div select option {
    font-size: 25px;
    padding-left: 10px;
    opacity: 0.7;
    font-family: 'Oswald';
  }
  .form form div b {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 40px;
  }
  .form form div:nth-child(even) {
    float: none;
  }
  .form form .order {
    margin-top: 0px;
    float: none;
    width: 200px;
  }
  .form form .order input {
    margin-top: 40px;
    background-color: green;
    width: 100%;
    color: white;
    font-family: 'Oswald';
    font-size: 28px;
    line-height: 14px;
  }
  footer .footer__text {
    font-size: 8px;
    line-height: 9px;
  }
  footer .footer__add .footer__add-text {
    font-size: 8px;
    line-height: 0px;
  }
}

@media (max-width: 560px) {
  header {
    height: 105px;
  }
  .header {
    height: 80px;
  }
  .logo {
    max-width: 400px;
  }
  .logo img {
    max-width: 55px;
  }
  .logo .text {
    font-size: 24px;
    padding-top: 15px;
  }
  nav {
    height: 25px;
  }
  nav .menu {
    height: 25px;
    padding-top: 0px;
  }
  nav .menu .sel ul {
    top: 25px;
  }
  nav .menu .sel ul li {
    height: 30px;
  }
  nav .menu .sel ul li a {
    font-size: 13px;
    line-height: 30px;
  }
  nav .menu li {
    height: 25px;
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 12px;
  }
  nav .other_menu {
    margin-left: 100px;
  }
  main .logo {
    max-width: 290px;
  }
  main .logo img {
    max-width: 35px;
  }
  main .logo .text {
    font-size: 18px;
    padding-top: 9px;
  }
  main .Campany {
    margin-top: 80px;
  }
  main .Campany p {
    font-size: 35px;
  }
  main .main_info_Campany {
    margin-top: 30px;
    font-size: 16px;
  }
  main .info_Campany {
    font-size: 17px;
    margin-top: 15px;
  }
}

@media (max-width: 506px) {
  .header {
    height: 67px;
  }
  header {
    height: 92px;
  }
  main {
    width: 100vw;
  }
  main .yellow_Line {
    height: 50px;
    width: 100%;
    line-height: 50px;
  }
  main .main_Text {
    font-size: 20px;
  }
  main .delivery_Info {
    font-size: 10px;
    height: 100px;
  }
  main .car {
    width: 50vw;
    padding-left: 0px;
  }
  main .foot_table {
    font-size: 12px;
  }
  .cat {
    height: 400px;
  }
  .cat .ProductLeft .pictureProduct {
    height: 80px;
  }
  .cat .ProductLeft a {
    font-size: 8px;
  }
  .cat .ProductLeft a .name_Product {
    height: 26px;
  }
  .cat .ProductRight .pictureProduct {
    height: 80px;
  }
  .cat .ProductRight a {
    font-size: 8px;
  }
  .cat .ProductRight a .name_Product {
    height: 26px;
  }
  .product {
    margin-left: 0px;
    max-width: 90%;
    height: 900px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
    line-height: 20px;
    font-size: 18px;
  }
  .product .info_Prod p:first-child {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .product .info_Prod .buy {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    text-align: center;
  }
  .product .info_Prod .buy .make_Purchase {
    font-size: 20px;
    line-height: 40px;
    padding-left: 0px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
    font-size: 26px;
    margin-top: 12px;
  }
}

@media (max-width: 414px) {
  header {
    height: 60px;
  }
  main {
    margin-top: 20px;
  }
  main .akcii {
    text-align: center;
    padding-left: 0px;
  }
  main .akcii div {
    width: 40%;
    font-size: 13px;
    padding-left: 32%;
    text-align: start;
  }
  main .logo {
    max-width: 200px;
  }
  main .logo img {
    max-width: 25px;
  }
  main .logo .text {
    font-size: 12px;
    padding-top: 6px;
  }
  main .Campany {
    margin-top: 30px;
  }
  main .Campany p {
    font-size: 28px;
  }
  main .main_info_Campany {
    margin-top: 30px;
    font-size: 12px;
  }
  main .info_Campany {
    font-size: 12px;
    margin-top: 15px;
  }
  .header {
    height: 35px;
  }
  .logo {
    max-width: 290px;
  }
  .logo img {
    max-width: 35px;
  }
  .logo .text {
    font-size: 18px;
    padding-top: 9px;
  }
  nav {
    height: 25px;
  }
  nav .menu {
    padding-top: 0px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 9px;
  }
  nav .other_menu {
    margin-left: 50px;
  }
}

@media (max-width: 300px) {
  .header {
    height: 30px;
  }
  .logo {
    max-width: 200px;
  }
  .logo img {
    max-width: 25px;
  }
  .logo .text {
    font-size: 12px;
    padding-top: 6px;
  }
  nav {
    height: 20px;
  }
  nav .menu {
    padding-top: 0px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 6px;
  }
  nav .other_menu {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=planet_furniture.css.map */