body {
  background: #ffffff;
  margin: 0;
}

.logo {
  margin: 0px auto;
  max-width: 900px;
  text-align: center;
  font-family: "Seymour One";
  font-size: 60px;
}

.logo img {
  float: left;
  padding-left: 30px;
  max-width: 128px;
}

.logo .text {
  padding-top: 35px;
}

.header {
  height: 138px;
  background: rgba(132, 130, 130, 0.22);
  margin-right: 0;
  width: 100vw;
}

nav {
  height: 40px;
  margin-top: 0px;
  background: #000000;
  width: 100vw;
}

nav .menu {
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  padding-left: 0px;
  width: 100%;
  height: 40px;
}

nav .menu li {
  width: 15%;
  display: inline-block;
  text-align: center;
}

nav .menu a {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

nav .menu a:hover {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

nav .menu .sel {
  position: absolute;
}

nav .menu .sel ul {
  display: none;
  position: absolute;
  padding-left: 0px;
  padding-top: 5px;
}

nav .menu .sel ul li {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  background-color: #251c1c;
}

nav .menu .sel ul li a {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

nav .menu .sel:hover ul {
  display: block;
}

nav .other_menu {
  margin-left: 265px;
}

article {
  margin: 50px auto;
  max-width: 1300px;
}

article .small_Posters {
  width: 25%;
  padding-left: 70px;
}

article .small_Posters a {
  width: 100%;
}

article .small_Posters .hr1 {
  display: block;
}

article .small_Posters .hr1 img {
  width: 100%;
  border-radius: 10px;
}

article .small_Posters .hr2 {
  display: block;
  padding-top: 14%;
}

article .small_Posters .hr2 img {
  width: 100%;
  border-radius: 10px;
}

article .hr3 {
  display: block;
  float: right;
  width: 57%;
  padding-right: 70px;
}

article .hr3 img {
  width: 100%;
  border-radius: 10px;
}

article .catalog {
  margin-top: 50px;
  text-align: center;
}

article .catalog img {
  width: 7%;
  margin-left: 9%;
}

article .ProductLeft {
  width: 30%;
  float: left;
  margin-left: 15%;
  margin-right: 0;
}

article .ProductLeft .pictureProduct {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

article .ProductLeft a {
  margin-top: 35px;
  display: block;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

article .ProductLeft a:first-child {
  margin-top: 0px;
}

article .ProductLeft a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

article .ProductLeft a .name_Product {
  height: 44.8px;
}

article .ProductLeft .price {
  text-align: center;
}

article .ProductLeft .price span {
  color: red;
}

article .ProductRight {
  width: 30%;
  float: right;
  margin-left: 0;
  margin-right: 15%;
}

article .ProductRight .pictureProduct {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

article .ProductRight a {
  margin-top: 35px;
  display: block;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

article .ProductRight a:first-child {
  margin-top: 0px;
}

article .ProductRight a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

article .ProductRight a .name_Product {
  height: 44.8px;
}

article .ProductRight .price {
  text-align: center;
}

article .ProductRight .price span {
  color: red;
}

article .akcii {
  margin-top: 50px;
  width: 90%;
  padding-left: 70px;
}

article .akcii img {
  width: 30%;
}

article .akcii div {
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 35px;
  width: 50%;
  float: right;
  padding-right: 200px;
  text-align: justify;
  padding-top: 50px;
}

article .main_info_Installments {
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .text_Installments {
  padding-left: 40px;
  font-family: 'Risque';
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .text_Installments div {
  font-size: 24px;
}

article .info_Installments {
  font-family: 'Risque';
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

article .yellow_Line {
  background-color: yellow;
  height: 70px;
  border-radius: 10px;
  line-height: 70px;
  font-size: 24px;
  text-align: left;
  width: 100%;
}

article .yellow_Line p {
  padding-left: 40px;
}

article .main_Text {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

article .delivery_Info {
  width: 45%;
  height: 300px;
  margin-top: 30px;
  border-radius: 7px;
  font-size: 20px;
}

article .delivery_Info tr td {
  border: 1px solid gray;
}

article .delivery_Info tr th {
  border: 1px solid gray;
  background-color: #3ec755;
  color: white;
}

article .delivery_Info tr th:first-child {
  border-top-left-radius: 10px;
}

article .delivery_Info tr th:last-child {
  border-top-right-radius: 10px;
}

article .car {
  float: right;
  padding-right: 200px;
  width: 500px;
  display: block;
}

article .foot_table {
  font-size: 18px;
  margin-top: 30px;
  color: #2b3057;
  width: 50%;
}

article .Campany {
  width: 70%;
}

article .Campany p {
  font-size: 60px;
}

article .Campany .logo {
  margin-left: 0px;
}

article .main_info_Campany {
  margin-top: 60px;
  width: 67%;
  font-family: 'Roboto';
  font-size: 22px;
}

article .info_Campany {
  font-family: 'Manrope';
  font-size: 22px;
  width: 67%;
  margin-top: 20px;
  text-align: justify;
}

.product {
  max-width: 1500px;
  height: 700px;
  margin: 50px auto;
  padding: 0px 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product img {
  padding-top: 20px;
}

.product .price_on_Info {
  font-size: 30px;
  width: 300px;
  margin-top: 20px;
  padding-left: 17px;
}

.product .price_on_Info span {
  color: red;
}

.product .info_Prod {
  padding-top: 0px;
  float: right;
  padding-right: 250px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .info_Prod p:first-child {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.product .info_Prod .buy {
  margin-top: 45px;
  background-color: #029b02;
  width: 200px;
  height: 50px;
  float: left;
  border-radius: 3px;
}

.product .info_Prod .buy .make_Purchase {
  font-size: 26px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding-left: 60px;
  line-height: 50px;
  color: #FFFFFF;
}

.cat {
  height: 1100px;
}

.form {
  max-width: 1363px;
  margin: 50px auto;
  padding: 0px 15px;
}

.form .name_forms {
  font-family: 'Oswald';
  font-size: 50px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.form form div {
  margin-top: 24px;
  width: 600px;
  float: left;
}

.form form div input {
  width: 600px;
  height: 70px;
  border-radius: 15px;
  font-size: 25px;
  padding-left: 8px;
}

.form form div input::-webkit-input-placeholder {
  font-size: 25px;
  opacity: 0.7;
  font-family: 'Oswald';
}

.form form div select {
  width: 600px;
  height: 70px;
  border-radius: 15px;
  font-size: 25px;
  font-family: 'Oswald';
  padding-left: 10px;
}

.form form div select option {
  font-size: 25px;
  padding-left: 10px;
  opacity: 0.7;
  font-family: 'Oswald';
}

.form form div b {
  font-family: 'Oswald';
  font-size: 28px;
  line-height: 67px;
}

.form form div:nth-child(even) {
  float: right;
}

.form form .order {
  margin-top: 100px;
  float: right;
  width: 300px;
}

.form form .order input {
  background-color: green;
  width: 300px;
  float: right;
  width: 300px;
  color: white;
  font-family: 'Oswald';
  font-size: 35px;
  line-height: 59px;
}

footer {
  padding-bottom: 40px;
}

footer .footer__pay {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

footer .footer__pay .footer__pay-logo {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__pay .footer__pay-logo .pic-left {
  margin-right: 20px;
}

footer .footer__pay .footer__pay-logo .pic-right {
  margin-left: 20px;
}

footer .footer__pay .footer__pay-logo img {
  width: 100%;
  display: block;
  max-height: 40px;
}

footer .footer__text {
  font-family: Gilroy,sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 1245px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #606060;
}

footer .footer__add {
  text-align: center;
}

footer .footer__add .footer__add-text {
  font-family: Gilroy,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
}

@media (max-width: 1370px) {
  .product .info_Prod {
    padding-right: 25px;
  }
}

@media (max-width: 1136px) {
  .product {
    max-width: 800px;
    height: 1300px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
  }
  .product .info_Prod .buy {
    margin-top: 70px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
  }
}

@media (max-width: 1280px) {
  article {
    max-width: 1000px;
  }
  article .akcii div {
    font-size: 28px;
    padding-right: 100px;
  }
  article .Campany {
    width: 70%;
  }
  article .Campany p {
    font-size: 45px;
  }
  article .car {
    float: right;
    padding-right: 30px;
  }
  article .foot_table {
    font-size: 18px;
  }
  article .main_info_Campany {
    margin-top: 50px;
    font-size: 20px;
  }
  article .info_Campany {
    font-size: 20px;
    margin-top: 16px;
  }
  article .logo {
    max-width: 480px;
  }
  article .logo img {
    max-width: 70px;
  }
  article .logo .text {
    font-size: 30px;
    padding-top: 20px;
  }
  article .ProductLeft .pictureProduct {
    height: 200px;
  }
  article .ProductRight .pictureProduct {
    height: 200px;
  }
  .form form div:nth-child(even) {
    float: none;
  }
}

@media (max-width: 1042px) {
  article {
    max-width: 950px;
  }
  article .akcii div {
    float: none;
  }
  article .car {
    padding-right: 0px;
  }
  article .ProductLeft .pictureProduct {
    height: 180px;
  }
  article .ProductLeft a {
    font-size: 18px;
  }
  article .ProductRight .pictureProduct {
    height: 180px;
  }
  article .ProductRight a {
    font-size: 18px;
  }
  .cat {
    height: 900px;
  }
}

@media (max-width: 920px) {
  article .akcii div {
    font-size: 20px;
    line-height: 20px;
  }
  article .car {
    width: 440px;
  }
}

@media (max-width: 890px) {
  .header {
    height: 120px;
  }
  .logo {
    max-width: 750px;
  }
  .logo img {
    max-width: 98px;
  }
  .logo .text {
    font-size: 50px;
  }
  article {
    max-width: 850px;
  }
  article .delivery_Info {
    height: 250px;
  }
  article .delivery_Info .car {
    float: right;
    padding-right: 10px;
    width: 30%;
  }
  article .delivery_Info .car img {
    width: 150%;
  }
  article .ProductLeft .pictureProduct {
    height: 150px;
  }
  article .ProductLeft a {
    font-size: 15px;
  }
  article .ProductRight .pictureProduct {
    height: 150px;
  }
  article .ProductRight a {
    font-size: 15px;
  }
  .cat {
    height: 700px;
  }
}

@media (max-width: 842px) {
  article {
    max-width: 800px;
  }
  article .small_Posters {
    padding-left: 20px;
  }
  article .hr3 {
    padding-right: 20px;
  }
  article .akcii div {
    padding-top: 10px;
  }
  .header {
    height: 80px;
  }
  .logo {
    max-width: 480px;
  }
  .logo img {
    max-width: 70px;
  }
  .logo .text {
    font-size: 30px;
    padding-top: 20px;
  }
  nav {
    height: 30px;
  }
  nav .menu {
    padding-top: 1px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 16px;
  }
  nav .other_menu {
    margin-left: 100px;
  }
}

@media (max-width: 842px) {
  header .menu {
    height: 30px;
  }
  header .menu .sel ul {
    padding-top: 0px;
  }
  article {
    max-width: 800px;
  }
  article .small_Posters {
    padding-left: 20px;
  }
  article .hr3 {
    padding-right: 20px;
  }
  article .delivery_Info {
    font-size: 16px;
  }
  article .car {
    width: 365px;
  }
}

@media (max-width: 700px) {
  article .akcii {
    text-align: center;
    padding-left: 0px;
  }
  article .akcii div {
    width: 50%;
    font-size: 16px;
    padding-left: 30%;
    text-align: start;
  }
  article .foot_table {
    width: 100%;
  }
  article .Campany p {
    font-size: 40px;
  }
  article .main_info_Campany {
    margin-top: 50px;
    font-size: 16px;
  }
  article .info_Campany {
    font-size: 17px;
    margin-top: 15px;
  }
  article .ProductLeft .pictureProduct {
    height: 130px;
  }
  article .ProductLeft a {
    font-size: 12px;
  }
  article .ProductRight .pictureProduct {
    height: 130px;
  }
  article .ProductRight a {
    font-size: 12px;
  }
  .product {
    max-width: 600px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 1000px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
    line-height: 20px;
  }
  .product .info_Prod p:first-child {
    margin-bottom: 0px;
  }
  .product .info_Prod .buy {
    margin-top: 70px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
  }
}

@media (max-width: 675px) {
  article {
    margin-top: 30px;
  }
  article .main_Text {
    font-size: 26px;
  }
  article .delivery_Info {
    font-size: 13px;
    height: 200px;
  }
  article .car {
    width: 330px;
  }
  article .logo {
    max-width: 400px;
  }
  article .logo img {
    max-width: 55px;
  }
  article .logo .text {
    font-size: 24px;
    padding-top: 15px;
  }
  article .catalog {
    margin-top: 10px;
  }
  footer .footer__text {
    width: 100vw;
    max-width: 1245px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 9px;
    line-height: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__add .footer__add-text {
    font-size: 9px;
    line-height: 9px;
  }
}

@media (max-width: 600px) {
  article .yellow_Line {
    height: 60px;
    border-radius: 10px;
    line-height: 60px;
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  article .yellow_Line p {
    padding-left: 30px;
  }
  article .delivery_Info {
    font-size: 13px;
    height: 180px;
  }
  article .car {
    width: 280px;
  }
  article .foot_table {
    font-size: 15px;
  }
  article .ProductLeft .pictureProduct {
    height: 100px;
  }
  article .ProductLeft a {
    font-size: 10px;
  }
  article .ProductLeft a .name_Product {
    height: 32px;
  }
  article .ProductRight .pictureProduct {
    height: 100px;
  }
  article .ProductRight a {
    font-size: 10px;
  }
  article .ProductRight a .name_Product {
    height: 32px;
  }
  .cat {
    height: 500px;
  }
  .form {
    max-width: 1363px;
    margin: 30px auto;
  }
  .form .name_forms {
    font-family: 'Oswald';
    font-size: 35px;
    text-decoration: underline;
  }
  .form form div {
    margin-top: 20px;
    width: 90vw;
    float: left;
  }
  .form form div input {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    font-size: 17px;
    padding-left: 8px;
  }
  .form form div input::-webkit-input-placeholder {
    font-size: 17px;
    opacity: 0.7;
    font-family: 'Oswald';
  }
  .form form div select {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Oswald';
    padding-left: 10px;
  }
  .form form div select option {
    font-size: 25px;
    padding-left: 10px;
    opacity: 0.7;
    font-family: 'Oswald';
  }
  .form form div b {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 40px;
  }
  .form form div:nth-child(even) {
    float: none;
  }
  .form form .order {
    margin-top: 0px;
    float: none;
    width: 200px;
  }
  .form form .order input {
    margin-top: 40px;
    background-color: green;
    width: 100%;
    color: white;
    font-family: 'Oswald';
    font-size: 28px;
    line-height: 14px;
  }
  footer .footer__text {
    font-size: 8px;
    line-height: 9px;
  }
  footer .footer__add .footer__add-text {
    font-size: 8px;
    line-height: 0px;
  }
}

@media (max-width: 560px) {
  header {
    height: 105px;
  }
  .header {
    height: 80px;
  }
  .logo {
    max-width: 400px;
  }
  .logo img {
    max-width: 55px;
  }
  .logo .text {
    font-size: 24px;
    padding-top: 15px;
  }
  nav {
    height: 25px;
  }
  nav .menu {
    height: 25px;
    padding-top: 0px;
  }
  nav .menu .sel ul {
    top: 25px;
  }
  nav .menu .sel ul li {
    height: 30px;
  }
  nav .menu .sel ul li a {
    font-size: 13px;
    line-height: 30px;
  }
  nav .menu li {
    height: 25px;
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 12px;
  }
  nav .other_menu {
    margin-left: 100px;
  }
  article .logo {
    max-width: 290px;
  }
  article .logo img {
    max-width: 35px;
  }
  article .logo .text {
    font-size: 18px;
    padding-top: 9px;
  }
  article .Campany {
    margin-top: 80px;
  }
  article .Campany p {
    font-size: 35px;
  }
  article .main_info_Campany {
    margin-top: 30px;
    font-size: 16px;
  }
  article .info_Campany {
    font-size: 17px;
    margin-top: 15px;
  }
}

@media (max-width: 506px) {
  .header {
    height: 67px;
  }
  header {
    height: 92px;
  }
  article {
    width: 100vw;
  }
  article .yellow_Line {
    height: 50px;
    width: 100%;
    line-height: 50px;
  }
  article .main_Text {
    font-size: 20px;
  }
  article .delivery_Info {
    font-size: 10px;
    height: 100px;
  }
  article .car {
    width: 50vw;
    padding-left: 0px;
  }
  article .foot_table {
    font-size: 12px;
  }
  article .ProductLeft .pictureProduct {
    height: 80px;
  }
  article .ProductLeft a {
    font-size: 8px;
  }
  article .ProductLeft a .name_Product {
    height: 26px;
  }
  article .ProductRight .pictureProduct {
    height: 80px;
  }
  article .ProductRight a {
    font-size: 8px;
  }
  article .ProductRight a .name_Product {
    height: 26px;
  }
  .cat {
    height: 400px;
  }
  .product {
    margin-left: 0px;
    max-width: 90%;
    height: 800px;
  }
  .product img {
    width: 100%;
  }
  .product .info_Prod {
    padding-right: 25px;
    float: none;
    line-height: 20px;
    font-size: 18px;
  }
  .product .info_Prod p:first-child {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .product .info_Prod .buy {
    margin-top: 50px;
    height: 40px;
    width: 120px;
    text-align: center;
  }
  .product .info_Prod .buy .make_Purchase {
    font-size: 20px;
    line-height: 40px;
    padding-left: 0px;
  }
  .product .price_on_Info {
    float: left;
    position: absolute;
    padding-left: 0px;
    font-size: 26px;
    margin-top: 12px;
  }
}

@media (max-width: 414px) {
  header {
    height: 60px;
  }
  article {
    margin-top: 20px;
  }
  article .akcii {
    text-align: center;
    padding-left: 0px;
  }
  article .akcii div {
    width: 40%;
    font-size: 13px;
    padding-left: 32%;
    text-align: start;
  }
  article .logo {
    max-width: 200px;
  }
  article .logo img {
    max-width: 25px;
  }
  article .logo .text {
    font-size: 12px;
    padding-top: 6px;
  }
  article .Campany {
    margin-top: 30px;
  }
  article .Campany p {
    font-size: 28px;
  }
  article .main_info_Campany {
    margin-top: 30px;
    font-size: 12px;
  }
  article .info_Campany {
    font-size: 12px;
    margin-top: 15px;
  }
  .header {
    height: 35px;
  }
  .logo {
    max-width: 290px;
  }
  .logo img {
    max-width: 35px;
  }
  .logo .text {
    font-size: 18px;
    padding-top: 9px;
  }
  nav {
    height: 25px;
  }
  nav .menu {
    padding-top: 0px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 9px;
  }
  nav .other_menu {
    margin-left: 50px;
  }
}

@media (max-width: 300px) {
  .header {
    height: 30px;
  }
  .logo {
    max-width: 200px;
  }
  .logo img {
    max-width: 25px;
  }
  .logo .text {
    font-size: 12px;
    padding-top: 6px;
  }
  nav {
    height: 20px;
  }
  nav .menu {
    padding-top: 0px;
  }
  nav .menu li {
    width: 15%;
    display: inline-block;
    text-align: center;
  }
  nav .menu a {
    font-size: 6px;
  }
  nav .other_menu {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=planet_furniture.css.map */